<h2>Ticket {{ ticket.ticket_number }}</h2>

<hr>

<h3>Company Info</h3>
<p><b>Name:</b> {{ ticket.client.org_name }}</p>
<p><b>Type:</b> {{ ticket.client.company_type }}</p>
<p><b>Email:</b> {{ ticket.client.email }}</p>

<hr>

<h3>Issue</h3>
<p><b>Main:</b> {{ ticket.issue }}</p>
<p><b>Sub:</b> {{ ticket.sub_issue }}</p>

<hr>

<h3>Description</h3>
<p>{{ ticket.description }}</p>

<hr>

<h3>Status</h3>
<p>{{ ticket.status }}</p>

<hr>

<h3>Timeline</h3>
<p>Created: {{ ticket.created_at }}</p>
<p>Assigned: {{ ticket.assigned_at }}</p>
<p>Resolved: {{ ticket.resolved_at }}</p>
<p>Closed: {{ ticket.closed_at }}</p>

<br><br>
<a href="{% url 'staff_dashboard' %}">⬅ Back to Dashboard</a>